@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

body {
    font-family: 'Convergence', sans-serif;
    font-size: 20px;
    //background-color: #222222;
    //color: #d5d5d5;
    background-color: #000000;
    color: #ffffff;
}

#io {
    margin-top: 2.5%;
    margin-left: 5%;
}

#output {
    overflow: auto;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    scroll-padding: 25%;
}

#input {
    color: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    background-color: transparent;
    width: 95%;
}

.output-line {
    margin-bottom: 5px;
}
